$primary-color: #ff7700;


div {
    h1 {
        color: red;
    }
}

@mixin cards($color-fondo, $color-texto){
    width: 250px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color:$color-fondo;
    color: $color-texto;
}

.card-first{
    @include cards(yellow, black)
}

.card-second{
    @include cards(black, white)

}

.card-third{
    @include cards(gren, blue)
}

.card-fourth{
    @include cards (blue, gray)
}