.square  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 5px;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    border:1px solid black;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 10px;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-between; 
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
} 

.center {
    justify-content: center;
}

.start {
    justify-content: flex-start;
}

.end {
    justify-content: flex-end;
}

.yellow {
    background-color: rgb(200, 200, 0);
}

.blue {
    background-color: rgb(0, 0, 255);
}

.red {
    background-color: rgb(255,000,000)
}

.green {
    background-color: rgb(000, 200, 000);
}

.purple {
    background-color: rgb(220, 0, 255);
}